<footer class="footer">
    <div class="pd">
        <p><img src="<%=rootPath%>/images/icon/computer.png">电脑版</p>
        <p>Copyright © 1999-2016 Zjol. All Rights Reserved</p>
        <p>浙江在线版权所有</p>
    </div>
</footer>