<div class="relative-recommend">
    <span class="relative-recommend-title">重点推荐</span>
    <div class="relative-recommend-content">
        <a href="http://sy.m.zjol.com.cn" class="fl white">手机浙江网</a>
        <a href="http://www.8531.cn/2014/weixin.html" class="white">微信矩阵</a>
        <a href="http://wxzx.zjol.com.cn/11wxzx/zjsjb/zjsjb.shtml" class="fr white">浙江手机报</a>
    </div>
</div>