.footer{
    width:100%;
    background-color:#1b1b1b;
    text-align:center;
    clear:both;
}

.pd{
    padding:1.5rem 0;
}

.footer img{
    width:0.625rem;
    height:0.5rem;
    padding-right:0.3rem;
}

.footer p{
    color:#fff;
    font-size:0.5rem;
    height:1.5rem;
    line-height:1.5rem;
}

